body {
  background-color: #282c34;
  font-family: 'Courier New', Courier, monospace;
  color: white;

  a {
    color: pink;
  }
}


.link-list {
  display: flex;
  justify-content: center;

  li {
    margin-right: 2rem;
  }
}
